* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.banner {
    display: flex;
    background-color: green;
}

.calender {
    background-color: red;
}

.twitter {
    background-color: blue;
}

.shop {
    background-color: pink;
}

.bio {
    background-color: yellow;
}

.community {
    background-color: purple;
}