/* General */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    margin: 20px;
}

.banner {
    width: 60%;
    height: 330px;
    margin: 20px;
    padding: 70px;
    align-self: center;
    border: solid red 1px;
}

.link-countdown {
    background-color: slategrey;
    height: 50px;
    width: 60%;
    align-self: center;
}

/* Home */

.base {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.big-today {
    width: 40%;
    height: 300px;
    border: 1px solid white;
    margin: 5px;
}

.twitter {
    width: 20%;
    height: 300px;
    border: 1px solid blue;
    margin: 5px;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.small-week-1, .small-week-2, .small-week-3, .small-week-4 {
    width: 30%;
    height: 300px;
    border: 1px solid green;
    margin: 3px;
    display: flex;
    flex-direction: row;
}

.double {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

/* Calender */ 

.calendar-cell {
    float: left;
    height: 200px;
    width: 200px;
    border: 1px solid white;
}

.calendar-container {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1400px;
}