@{
    ViewData["Title"] = "Calendar";
    Layout = "_Layout";
}
<div class="calendar-container">
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
    <div class="calendar-cell"></div>
</div>