@{
    ViewData["Title"] = "Calendar";
    Layout = "_Layout";
}
<h1>OCTOBER</h1>
<div class="calendar-container">

    <div class="calendar-cell">1st</div>
    <div class="calendar-cell">2nd</div>
    <div class="calendar-cell">3rd</div>
    <div class="calendar-cell">4th</div>
    <div class="calendar-cell">5th</div>
    <div class="calendar-cell">6th</div>
    <div class="calendar-cell">7th</div>
    <div class="calendar-cell">8th</div>
    <div class="calendar-cell">9th</div>
    <div class="calendar-cell">10th</div>
    <div class="calendar-cell">11th</div>
    <div class="calendar-cell">12th</div>
    <div class="calendar-cell">13th</div>
    <div class="calendar-cell">14th</div>
    <div class="calendar-cell">15th</div>
    <div class="calendar-cell">16th</div>
    <div class="calendar-cell">17th</div>
    <div class="calendar-cell">18th</div>
    <div class="calendar-cell">19th</div>
    <div class="calendar-cell">20th</div>
    <div class="calendar-cell">21st</div>
    <div class="calendar-cell">22nd</div>
    <div class="calendar-cell">23rd</div>
    <div class="calendar-cell">24th</div>
    <div class="calendar-cell">25th</div>
    <div class="calendar-cell">26th</div>
    <div class="calendar-cell">27th</div>
    <div class="calendar-cell">28th</div>
    <div class="calendar-cell">29th</div>
    <div class="calendar-cell">30th</div>
    <div class="calendar-cell">31st</div>
</div>