@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>Top Banner</h1>
</div>
<div>
    <p>calender</p>
</div>
<div>
    <p>twitter feed</p>
</div>
<div>
    <p>shop</p>
</div>
<div>
    <p>bio</p>
</div>