@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="base">
    <div class="top-row">
        <div class="big-today">
            <a href="/calendar">Today</a>
        </div>
        <div class="twitter">
            <p>twitter feed</p>
        </div>
    </div>
    <div class="bottom-row">
        <div class="small-week-1">
            <p>Week</p>
        </div>
        <div class="small-week-2">
            <p>Week</p>
        </div>
        <div class="small-week-3">
            <p>Week</p>
        </div>
    </div>
</div>