@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="base">
    <div class="left-column">
        <div class="calendar">
            <p>calendar</p>
        </div>
        <div class="twitter">
            <p>twitter feed</p>
        </div>
    </div>
    <div class="center-column">
        <div class="bio">
            <p>bio</p>
        </div>
    </div>
    <div class="right-column">
        <div class="shop">
            <p>shop</p>
        </div>
        <div class="community">
            <a href="forum.cshtml">community</a>
        </div>
    </div>
</div>