@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="base">
    <div class="top-row">
        <div class="big-today">
            <img src="../images/JoAT.jpg" alt="" />
            <a href="/calendar">Today</a>
        </div>
        <div class="twitter">
            <p>twitter feed</p>
        </div>
    </div>
    <div class="bottom-row">
        <div class="small-week-1">
            <img src="../images/Briscoe.jpg" alt="" />
            <p>Week</p>
        </div>
        <div class="small-week-2">
            <img src="../images/Cloudy.jpg" alt="" />
            <p>Week</p>
        </div>
    </div>
    <div class="double">
        <div class="small-week-3">
            <img class="week-3-image" src="../images/Bubba.jpg" alt="" />
            <p>Week</p>
        </div>
        <div class="small-week-4">
            <img class="week-3-image" src="../images/JoAT.jpg" alt="" />
            <p>Week</p>
        </div>
    </div>
</div>